/auf1.py
/dechiefrieung.py
/editingcomm.py
/fa1.py
/farbenmischung.py
/fullmatch.py
/functions.py
/infostroki
/itertoolss.py
/konspekt
/maxdelitel.py
/minmaxzifra.py
/nickname.py
/Nurint.py
/Password.py
/posledovatelnost.py
/schitatmalbykvi.py
/simvcounterinstr.py
/slice.py
/slice1.py
/stroki1.py
/stroki2.py
/sumbuchstaben.py
/tablicaumnojenia.py
/teoremaEflera.py
/test.py
/test4.py
/unibinare.py
/unicodeToText.py
/variables.py
/vsedannie4isla.py
/C:\Users\Seminar\Documents\GitHub\Spiel\game\__pycache__
